**/.gradle
**/build
**/bin
**/out
**/logs
**/.idea
**/.iml
**/.settings
**/.classpath
**/.project
**/.DS_Store
**/*.log
**/*.tmp
**/*.class
classpath-data.json
/daemon/
/caches/
/kotlin-profile/
/native/
/wrapper/
